.subs{
    margin-top: 20px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #35d41c ;
    margin-left: 60px;
    border-radius: 5px;
    width: 900px;
    height: auto;
}

.subs__title{
    padding-top: 40px;
    margin-left: 100px;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    width: 450px;
    
}