.footer{
    display: flex;
    padding-bottom: 10px;
}

.footer__logo{
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 5px;
    width: 40px;
    height: auto;
    object-fit: contain;
}

.footer__text{
    padding-top: 35px;
    font-weight: 500;
    font-size: 20px;
}

.footer__p{
    margin-left: 800px;
    padding-top: 35px;
}